
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* p {
    text-align: center;
    padding: 20px;
    /* background-color: #fff */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; */
/* } */ 

.no-orders {
    color: #555;
    font-style: italic;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

/* Responsive styles */
@media(max-width: 768px) {
    table {
        font-size: 14px;
    }
}
