
<%- include('../layouts/header')%>

    
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->





<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							
							<h1></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->


    <div class="order-confirmation">    
        <h1>Order Successful</h1>
        <p>Your order has been placed successfully. Thank you for shopping with us!</p>
        
        <!-- Display order details here -->
        <div class="order-details">
            <h2>Order Details</h2>
            <p>Order ID: #123456</p>
            <p>Order Date: October 1, 2023</p>
            <!-- Add more order details here -->
        </div>

        
        <div class="action-buttons">
            <a href="order-tracking.html">Order Summary</a>
            <a href="/shop">Continue Shopping</a>
        </div>
    </div>
</body>
</html>
<%- include('../layouts/footer')%>