
<%- include('../layouts/header')%>

    
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->





<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							
							<h1></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->


    <div class="order-confirmation">    
        <h1>Order Successful</h1>
        <p>Your order has been placed successfully. Thank you for shopping with us!</p>
        
        <div class="order-details">
            <p id="orderID"></p> <!-- This is where the order ID will be displayed -->
            <!-- Add more order details here -->
        </div>
        

        <div class="action-buttons">
            <a href="#" id="orderSummaryButton">Order Summary</a> <!-- Add an ID to the button -->
            <a href="/shop">Continue Shopping</a>
        </div>
        
        
    </div>
</body>
</html>


<script>
const urlParams=new URLSearchParams(window.location.search);
const orderId=urlParams.get('orderId');
console.log("orderIDd:",orderId);
if(orderId){
    document.getElementById('orderID').textContent='Order ID  ' +orderId;
}
document.getElementById('orderSummaryButton').addEventListener('click',function(){
    if(orderId){
        fetch(`/orderSummary?orderId=${orderId}`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
      }
   })
        .then(response=>response.json())
        .then(data=>{
         
            if(data){

                navigateToOrderSummary(data);
            }

        })
        .catch(error=>{
            console.error('Error:',error)
        })
    }
})

function navigateToOrderSummary(data){

    const jsonData= JSON.stringify(data);

    const encodedData=encodeURIComponent(jsonData)

    const orderSummary=`/orderSummaryPage?data=${encodedData}`;

    window.location.href=orderSummary;
}
</script>

<%- include('../layouts/footer')%>